
.barra-seleccion {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
  align-items: center;
}

.item-seleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 130px;
  background: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.item-seleccion img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.item-seleccion .precio {
  font-weight: bold;
  color: #28a745;
}

.item-seleccion .cantidad {
  font-weight: bold;
  color: #dc3545; /* rojo */
}

.item-seleccion .nombre {
  /* font-size: 0.8rem; */
  text-align: center;
}

.vacio{
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
}

