.table {
  width: 100%;
  border-collapse: collapse; /* 👈 elimina espacio entre celdas */
  font-size: 26px;           /* bajá un poco la fuente si lo ves muy grande */
}

.table tbody tr{
  height: 110px;
}

.table th,
.table td {
  padding: 8px 12px;  /* 👈 controla el espacio interno */
}

.table .columna {
  background-color: #E9FF45;
}

.img-carrito {
  width: 100px;
  height: auto;

}


.footer-edicion {
  position: fixed;        /* 🔹 Fija la barra en pantalla */
  bottom: 21%;           /* 🔹 La separa un poco del borde inferior */
  left: 0;
  width: 100%;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 37px;
  font-weight: bold;
  z-index: 100;           /* 🔹 Asegura que quede por encima de otros elementos */
  border-radius: 6px 6px 0 0; /* 🔹 Redondea las esquinas superiores */
}

.btn-eliminar {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-eliminar:hover {
  background-color: #b52b27;
}

.footer-edicion {
  margin-top: 20px;
  background-color: #d9d9d9;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
}
