.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* ocupa toda la pantalla */
  background-color: #772424;
  color: white;
  
}

.layout-header {
  flex: 0 0 auto; /* header ocupa su tama침o natural */
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-header img {
  width: 300px;
  height: auto;
}


.layout-tabs {
  flex: 0 0 auto; /* 游녣 las tabs quedan fijas */
  background: #A12A2A;
}

.layout-main {
  flex: 1 1 auto;       /* ocupa el espacio disponible */
  overflow-y: auto;     /* 游녣 solo ac치 aparece scroll */
  background: #fff;
  color: black;

}

.layout-top {
  display: flex;
  /* background-color: #f4f4f4; */
  justify-content: center; /* alineacion de las tabs */
}

.layout-top h1 {
  margin-top: 35px;
 font-size: 40px;
  font-weight: bold;
}


.layout-footer {
  flex: 0 0 auto;       /* footer ocupa su tama침o natural */
  display: flex;
  justify-content: left;
  gap: 20px;
  padding: 20px;
  background: #A12A2A; /* color de fondo */
  color: black;
  overflow-x: auto;
  height: 210px;
}

.footer-buttons {
  flex: 0 0 auto;       /* footer ocupa su tama침o natural */
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background: #772424; /* color de fondo */
}

.footer-buttons button {
  padding: 10px 20px;
  background-color: #D9D9D9;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;
  transition: background 0.3s;
  width: 270px;
  height: 150px;
  font-weight: bold;
}

.layout-footer-carrito{
  flex: 0 0 auto;       /* footer ocupa su tama침o natural */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: #D9D9D9; /* color de fondo */
  color: black;
  height: 80px;
}

.mensaje-seleccionar2 {
  text-align: justify;
  padding: 8px;
  background-color: #fff3cd;
  border: 1px solid #ffeaa7;
  border-radius: 4px;
  margin: 0px 0;
  font-size: 20px;
  color: #856404;
  height: 45px;
    
}

.footer-buttons-carrito {
  flex: 0 0 auto;       /* footer ocupa su tama침o natural */
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background: #772424; /* color de fondo */
  height: 400px;
}

.footer-buttons-carrito button {
  padding: 10px 20px;
  background-color: #D9D9D9;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;
  transition: background 0.3s;
  width: 270px;
  height: 150px;
  font-weight: bold;
  margin: 0;
}

.boton-cancelar-pedido button {
  background-color: #FF4C4C;
  color: white;
}

.boton-aceptar-pedido button {
  background-color: #4CAF50;
  color: white;
}

