.nav {
  display: flex;
  gap: 30px; /* separación entre tabs */
  background-color: #772424;
  justify-content: center; /* alineacion de las tabs */
  font-size: 35px;
}

.nav-pills .nav-link.active {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
  border-radius: 0; /* Elimina los bordes redondeados */
  height: 90px;
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */

}

.nav-pills .nav-link {
  background-color: #A12A2A !important;
  color: black !important;
  font-weight: bold;
  border-radius: 0; /* Elimina los bordes redondeados */
  height: 90px;
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  width: 300px; 
  
}
